.navbar-brand {
    //background: url("ruby.png") no-repeat center;  //to setup ruby image in the middle of RC
    background: url("https://ibb.co/iVZqjw") no-repeat center //heroku
    background-size: contain;
    height: 47px;
    width: 47px;
  }